<style>
    .fixed-size-image {
        width: 100%; 
        height: 250px;
        width: 350px; 
        object-fit: cover;
    }

    .activityDisplay {
        background: rgb(255, 255, 255);
        text-align: center;
        padding-left: 50px;
        padding-top: 1px;
        padding-right: 50px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .section-title {
        text-align: center;
        margin: 40px 0 20px;
        font-weight: bold;
        font-size: 1.5em;
    }

    .banner {
        position: relative;
    }

    .banner-img {
        width: 100%;
        height: 650px;
        object-fit: cover;
    }

    .weather-card {
        position: absolute;
        top: 150px;
        left: 750px;
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(0,0,0,0.9));
        border-radius: 8px;
        width: 250px;
        height: 420px;
    }
    .weather-icon {
        height: 200px;
        width: 200px;
    }

    .row {
        margin-bottom: 40px;
    }

    .highlight-activity {
        position: relative;
    }

    .highlight-activity::before {
        background: rgba(0, 0, 0, 0.5);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .suggestions-container {
        padding: 20px;
        border-top: 1px solid #ddd;
        margin-top: 40px;
    }
    .actDiv{
        padding-left: 50px;
        padding-right: 50px;
    }
    .suggestion-title{
        margin: 40px 0 20px;
        font-weight: bold;
        font-size: 1.5em;
    }
    .map-container{
        border-radius: 30%;
        width: 75%;
        padding-left: 20%;
    }




    .suggestions-container {
    padding: 20px;
    background-color: #f8f9fa;
}

.suggestion-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.suggestion-card {
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.suggestion-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 18px;
    color: #007bff;
}

.card-text {
    font-size: 16px;
    color: #555;
}

</style>

<div class="banner">
    <img src="/location-images/Locations/{{location._id}}/{{location._id}}_Image.jpg" class="banner-img" alt="Location Banner">
    <div class="weather-card">
        <img src="/images/weatherAPI/{{weatherData.icon}}" class="weather-icon" alt="Weather Icon">
        <h1 class="temp">{{weatherData.temp}}°</h1>
        <h2 class="city">{{weatherData.city}}</h2>
        <div class="row">
            <div class="weather-col">
                <img src="/images/weatherAPI/humidity.png" alt="Humidity Icon">
                <div>
                    <p class="humidity">{{weatherData.humidity}}%</p>
                    <p>Humidity</p>
                </div>
            </div>
            <div class="weather-col">
                <img src="/images/weatherAPI/wind.png" alt="Wind Icon">
                <div>
                    <p class="wind">{{weatherData.wind}} km/h</p>
                    <p>Wind</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="loc-description container my-4">
    <p>{{location.Description}}</p>
</section>

<section>
    <h3 class="section-title">Summer Activities</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="fixed-size-image rounded" src="/location-images/Locations/{{location._id}}/{{location._id}}_ClearImage1.jpg" alt="Summer Attraction 1">
            </div>
            <div class="col-md-4">
                <img class="fixed-size-image rounded" src="/location-images/Locations/{{location._id}}/{{location._id}}_ClearImage2.jpg" alt="Summer Attraction 2">
            </div>
            <div class="col-md-4">
                <img class="fixed-size-image rounded" src="/location-images/Locations/{{location._id}}/{{location._id}}_ClearImage3.jpg" alt="Summer Attraction 3">
            </div>
        </div>
        <div class="row actDiv justify-content-between">
            {{#each clearActivities}}
             <div class="col-md-3 activityDisplay">
                <p>{{this.name}}</p>
                <a href="/location/activity?id={{../location._id}}&activityName={{this.name}}" class="btn btn-primary">more details</a>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<section>
    <h3 class="section-title">Monsoon Activities</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="fixed-size-image rounded" src="/location-images/Locations/{{location._id}}/{{location._id}}_RainyImage1.jpg" alt="Monsoon Attraction 1">
            </div>
            <div class="col-md-4">
                <img class="fixed-size-image rounded" src="/location-images/Locations/{{location._id}}/{{location._id}}_RainyImage2.jpg" alt="Monsoon Attraction 2">
            </div>
            <div class="col-md-4">
                <img class="fixed-size-image rounded" src="/location-images/Locations/{{location._id}}/{{location._id}}_RainyImage3.jpg" alt="Monsoon Attraction 3">
            </div>
        </div>
        <div class="row actDiv justify-content-between">
            {{#each rainyActivities}}
             <div class="col-md-3 activityDisplay">
                <p>{{this.name}}</p>
                <a href="/location/activity?id={{../location._id}}&activityName={{this.name}}" class="btn btn-primary">more details</a>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<section>
    <h3 class="section-title">Winter Activities</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="fixed-size-image rounded" src="/location-images/Locations/{{location._id}}/{{location._id}}_WindyImage1.jpg" alt="Winter Attraction 1">
            </div>
            <div class="col-md-4">
                <img class="fixed-size-image rounded" src="/location-images/Locations/{{location._id}}/{{location._id}}_WindyImage2.jpg" alt="Winter Attraction 2">
            </div>
            <div class="col-md-4">
                <img class="fixed-size-image rounded" src="/location-images/Locations/{{location._id}}/{{location._id}}_WindyImage3.jpg" alt="Winter Attraction 3">
            </div>
        </div>
        <div class="row actDiv justify-content-between">
            {{#each windyActivities}}
            <div class="col-md-3 activityDisplay">
                <p>{{this.name}}</p>
                <a href="/location/activity?id={{../location._id}}&activityName={{this.name}}" class="btn btn-primary">more details</a>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<section class="suggestions-container">
    <h3 class="suggestion-title">Suggestions & Reviews</h3>
    {{#if suggestion}}
    <div class="row">
        {{#each suggestion}}
        <div class="col-md-4 mb-4">
            <div class="card suggestion-card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Name: {{this.user}}</h5>
                    <p class="card-text">Comments: {{this.suggestion}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</section>



<div class="map-container mt-5">
    <iframe src="{{location.google_map_links}}" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
